.QC {
    height: 697px;
    display: flex;
    flex-direction: column;
}

.QNCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: -13px;
}

.cardQN {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B872BA;;
    width: 340px;
    height: 709px;
    display: flex;
    justify-content: center;
    margin-top: 3px;
}
.distanceQN2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.picQN1 {
    margin-left: 37px;
    width: 10px;
    height: 10px;
    border: 10rem;
    background: #ffffff;
    border-radius: 10px;
    border: .5px solid #000000;
}
.picQN2 {
    width: 10px;
    height: 10px;
    background: #ffffff;
    border: 10rem;
    border: .5px solid #000000;
    border-radius: 10px;
}

.picQN1.active {
    margin-left: 37px;
    width: 10px;
    height: 10px;
    border: 10rem;
    background: #09A2F9;
    border-radius: 10px;
    border: .5px solid #000000;
}

.insideQNCard {
    height: 115px;
    margin-top: 5px;
}

.textQNCard {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-top: -10px;
}

.lessPo {
    margin-left: 200px;
}

.textQNCard1 {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    margin-top: -6px;
    width: 290px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.orderPoint {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: -15px;
}

.order1Point {
    margin-left: 38px;
}

.inp_comment {
    width: 290px;
    height: 66px;
    background: #E7E7E7;
    border-radius: 3px;
    border: #E7E7E7;
    margin-top: 3px;
}

.sendQN {
    color: #fff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 23px;
    background: #EF940C;
    border-radius: 3px;
    border: transparent;
    text-decoration: none;
    transition: 0.3s;
    width: 103px;
    height: 38px;
    margin-top: -10px;
}

.er {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}