body {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 844px;
  max-width: 360;
  margin: 0;
  align-items: center;
}

.container {
  width: 390px;
}